*.ignore
*sim_build*
*.xml
*.pyc
*.vcd
*.jou
*.log
*.Xil*
*.str
/hdl/synth/*/*
!/hdl/synth/*/*.bd
/proj/*
!/proj/proj.xpr
/sdk/SDK.log
/sdk/.metadata*
/sdk/.sdk*
/sdk/RemoteSystemsTempFile*
/sdk/*/Debug*
/sdk/webtalk*
*.o

