[submodule "cocotb"]
	path = cocotb
	url = https://github.com/powlib/cocotb.git
[submodule "powlib"]
	path = powlib
	url = https://github.com/powlib/hdl.git
[submodule "simlib"]
	path = simlib
	url = https://github.com/powlib/sim.git
